[Unit]
Description=Bluetooth Agent
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/app/setup && /app/simple-agent
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
