[Unit]
Description=PulseAudio
After=sound.target

[Service]
Type=forking
ExecStart=/usr/bin/pulseaudio --start --resample-method=trivial --system --disallow-exit --disallow-module-loading=0 --daemonize --log-target=syslog --high-priority
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=multi-user.target
