[Unit]
Description=PulseAudio

[Service]
Type=forking
User=sonos
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket" "DBUS_SESSION_BUS_PID=`cat /run/dbus/pid`"
ExecStart=/usr/bin/pulseaudio --start --resample-method=trivial
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=multi-user.target
